@import url("../../.cache/wal/colors-waybar.css");

* {
    border: none;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    /* font-family: "ProFont IIx Nerd Font Propo"; */
    /* font-family: "CaskaydiaCove Nerd Font Propo"; */
    /* font-family: "Ubuntu Nerd Font"; */
    /* font-family: "IntoneMono NF"; */
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 0px;
    margin: 2px;
}

window#waybar {
    background: alpha(@background, 0.8);
    border-radius: 4px;
}

tooltip {
    background-color: alpha(@background, 0.8);
    font-size: 14px;
    color: @foreground;
}

tooltip label {
    margin: 2px;
}

window#waybar.empty #window {
    font-size: 0px;
    background-color: transparent;
}


#custom-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#mpris,
#clock,
#tray,
#cpu,
#backlight,
#memory,
#battery,
#pulseaudio,
#keyboard-state {
    padding: 2px 6px;
    border-radius: 4px;
}

#workspaces {
    background-color: alpha(@background, 0.8);
    border-radius: 4px;
    font-size: 20px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    color: @foreground;
    padding: 3px 4px;
    background-color: @background;
    border-radius: 4px;
}

#workspaces button.active {
    color: @background;
	background-color: @foreground;
}

#workspaces button.urgent {
    background-color: @background;
    color: @foreground;
}

#clock {
    background-color: @background;
    color: @foreground;
    font-size: 16px;
}

#custom-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#window,
#cpu,
#mpris,
#backlight,
#memory,
#battery,
#tray,
#pulseaudio,
#keyboard-state {
    background-color: transparent;
    color: @foreground;
}

#cpu.critical,
#memory.critical {
    color: @background;
	background: #ff7070;
}

#battery.warning{
    color: @background;
	background: #ffcc70;
}
#battery.critical{
    color: @background;
	background: #ff7070;
}
#battery.urgent {
	color: @background;
	background: #ff1a1a;
}

#window {
    min-width: 20px;
    border-radius: 5px;
}

#clock {
	font-weight: bolder;
	color: @background;
	background: @foreground;
}

#custom-notification {
    padding: 0 10px;
}

#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    opacity: 0.5; /* Dim icon when DND is on */
}
